body {
    display: flex;
    min-height: 100vh;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

.header, .footer, .first {
    color: #F9FAF8;
    background-color: #1F2934;
    padding-left: 10%;
    padding-right: 10%;
}

.header, .footer {
    flex-shrink: 0;
    height: 72px;
    line-height: 72px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    display: flex;
    padding-bottom: 50px;
}

.footer {
    text-align: center;
}

.first, .second, .third, .fourth {
    flex: 1;
}

.first {
    display: flex;
    padding-bottom: 100px;
}

.first img {
    margin-left: 50px;
}

.first-text {
    height: 200px;
}

.first-text button {
    margin-top: 19px;
    border-color: #1f2937;
}

.second {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
    margin-bottom: 75px;
}

.second, .third, .fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third {
    background-color: #e5e7eb;
    padding: 5% 15%;
}

.third blockquote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.fourth {
    margin: 100px 0px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote figcaption {
    font-weight: bold;
    text-align: justify;
    align-self: flex-end;
    padding-right: 15%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.cta {
    display: flex;
    padding: 40px 100px;
}

.cta-text {
    margin-right: 50px;
}

.cta, button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

.cta button {
    border-color: white;
}

.images figcaption {
    text-align: center;
    padding: 0px 10px;
}

button {
    padding: 5px 20px;
    font-weight: bold;
}

a, p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}

h1, h2 {
    font-weight: extra-bold;
}

h1, h3 {
    margin: 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;    
    color: #1f2937;
}